body {
    margin-left: 15%;
    margin-right: 15%;
}

p {
    text-align: justify;
}

h1 {
    color: #333333;
    text-align: center;
}

h2 {
    color: #555555;
    text-align: left;
    margin-left: 10%;
}

#sideMenu {
  width: 200px;
  height: 100%;
}
